label.label2 {
color:#9a9a9a;
font-weight:bold;
font-style:italic;
font-size:13px;
}

.label1 {
color:#7a7a7a;
font-weight:bold;
font-style:italic;
font-size:13px;	
}

div.preview-wrapper {
	width: 960px;
}

.colpt_terminology_wrapper {
width:800px;
}

.colpt_term_single_wrapper {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: baseline;
}

.colpt_term {
font-weight:bold;
flex-grow: 2;
flex-basis: 20%;
}

.colpt_term_description {
flex-grow: 30;
flex-basis: 20%;
}

.colpt_pp_layout_pieces_options_wrapper {
	
}

.options_editor_wrapper {
width:860px;
}

.colpt_page_form_wrapper {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: baseline;
width:500px;
}

.or_separator {
	
}

.colpt_page_option_set_wrapper {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: baseline;
width:960px;
}

.colpt_page_option_wrapper {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
justify-content: space-around;
align-items: baseline;
}

.alert_box1 {
	
}

.alert_box2 {
height: 40px;
border-left: 3px solid #8d0000;
padding: 8px;
padding-left: 30px;
background-color: #ffcccc;
}